@font-face {
    font-family: 'logofont'; /*a name to be used later*/
    src: url("fonts/Norse-Bold.otf"); /*URL to font*/
}

:root {
    --content-line-margin: -400px;
}


body {
    display: flex;
    height: 100vh;
    margin: 0;
   
    
}

.logo-space,
.form-space {
    
    display: flex;
    
    
}

.logo-space {
    
    flex: 1 1 0;
    max-width: 33%;
    flex-direction: column;
   
}
.pufferdiv,
.form-space-top {
    height: 20%;
    width: 100%;

}
.logoBar {
    background-color: rgb(175, 173, 173);
    opacity: 0.5;
    height: 250px;
    width: 100%;
}

.background-graphic {
    position: absolute;
    height: 100%;
    width:auto;
    z-index: -1;
 

}

.form-space {
    flex: 1.5 1 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(175, 173, 173);
    min-width: 35ch;
    display: flex;
    flex-direction: column;
}

.form-space-top {}

.form-space-middle {
    height: 500px;
    width: 100%;
    background-color: rgb(173, 157, 157);
    
}

form {
    display: flex;
    flex-wrap: wrap;

}

h1 {
    font-size: 1.5rem;
    padding: 10px;
}

.form-space-bottom {}



